# -----------------------------------------------------------------
# .gitignore for WordPress
# Bare Minimum Git
# Based on http://ironco.de/bare-minimum-git/
#
# -----------------------------------------------------------------

# ignore everything in the root, except the "themes" directory
/*
#!wp-content/themes/

# ignore specific themes
#wp-content/themes/index.php
#wp-content/themes/twenty*/
#wp-content/themes/hexa/
!wp-content/themes/hexa-child/


# ignore node/grunt dependency directories
node_modules/
.DS_Store